<div class="login">
    <div id="form">
        <center><h1>Welcome back</h1></center>

        {{#each errors}}
            <p style="color:red;">{{this}}</p>
        {{/each}}
        <form action="/log-in" method="POST" id="log">
            <input type="text" name="email" id="email" placeholder="Email Address" value={{email}}>     
            <br>
            {{#if emailMsg}}
            <p class="errorMsg" >{{emailMsg}}</p>
            {{/if}}
            <input type="password" name="password" id="password" placeholder="Password" value={{password}}>       
            <br>
            {{#if passwordMsg}}
            <p class="errorMsg">{{passwordMsg}}</p>
            {{/if}}

            <input class="form-check"type="radio" name="role" id="data-entry" value="data-entry" required checked>
            <label class="form-check" for="data-entry">Data Entry Clerk</label>
            <input class="form-check" type="radio" name="role" id="customer" value="customer" required>
            <label class="form-check" for="customer">Customer</label>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</div> 